a,button{-webkit-text-decoration-skip:objects;text-decoration:none}
a,a:link,a:visited,b,button{text-decoration:none}
.btn:hover,a:hover{background-color:grey;color:#fff}
.btn:active,a:active{background-color:red}
button,section{margin-bottom:10px}
.container,aside,main{max-width:90rem}
html{line-height:1.05;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:12px;color:#f2f2f2;background-color:#0d0d0d}
article,aside,footer,header,main,nav,section{display:block}
*,.cell{box-sizing:border-box}
button{border:0;outline:0;background-color:transparent;color:#fff}
.hack,.hack blockquote,.hack code,.hack em,.hack h1,.hack h2,.hack h3,.hack h4,.hack h5,.hack h6,.hack strong,body,button{font-size:1.3rem;
}*{text-rendering:geometricPrecision}
body{line-height:1.8rem;margin:0;}.logo__component{padding-top:20px;font-size:10px}
.imgcap{text-align:right}
b{font-weight:400}.about{padding-left:2px;padding-right:2px}
a{background-color:transparent;color:#ff2e88}
a:link,a:visited{color:inherit}.grid{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.hack

li,img{display:block}.grid.\-top{-ms-flex-align:start;-ms-grid-row-align:flex-start;align-items:flex-start}
.grid.\-middle{-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}
.grid.\-bottom{-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end}
.grid.\-stretch{-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch}
.grid.\-baseline{-ms-flex-align:baseline;-ms-grid-row-align:baseline;align-items:baseline}
.grid.\-left{-ms-flex-pack:start;justify-content:flex-start}
.grid.\-center{-ms-flex-pack:center;justify-content:center}
.grid.\-right{-ms-flex-pack:end;justify-content:flex-end}
.grid.\-between{-ms-flex-pack:justify;justify-content:space-between}
.grid.\-around{-ms-flex-pack:distribute;justify-content:space-around}
.cell{-ms-flex:1;flex:1}

@media screen and (min-width:768px)
{.cell.\-1of12{-ms-flex:0 0 8.33333%;flex:0 0 8.33333%}
.cell.\-2of12{-ms-flex:0 0 16.66667%;flex:0 0 16.66667%}
.cell.\-3of12{-ms-flex:0 0 25%;flex:0 0 25%}
.cell.\-4of12{-ms-flex:0 0 33.33333%;flex:0 0 33.33333%}
.cell.\-5of12{-ms-flex:0 0 41.66667%;flex:0 0 41.66667%}
.cell.\-6of12{-ms-flex:0 0 50%;flex:0 0 50%}
.cell.\-7of12{-ms-flex:0 0 58.33333%;flex:0 0 58.33333%}
.cell.\-8of12{-ms-flex:0 0 66.66667%;flex:0 0 66.66667%}
.cell.\-9of12{-ms-flex:0 0 75%;flex:0 0 75%}
.cell.\-10of12{-ms-flex:0 0 83.33333%;flex:0 0 83.33333%}
.cell.\-11of12{-ms-flex:0 0 91.66667%;flex:0 0 91.66667%}}

@media screen and (max-width:768px){.grid{-ms-flex-direction:column;flex-direction:column}
.cell{-ms-flex:0 0 auto;flex:0 0 auto}
aside{text-align:center}
section{margin-top:30px}
.text {padding:2rem}	
.side-nav-list,.side-nav-list2,.side-nav-list3{padding:0}
img{display:block;max-width:100%;height:auto}}
.hack h1:after{content:"====================================================================================================";position:absolute;bottom:10px;left:0}
.hack li{position:relative;padding:0}
.hack li:after{position:absolute;top:0;left:0}
.menu{width:100%}
.menu .menu-item{display:block;color:#616161;border-color:#616161}
.menu .menu-item.active,.menu .menu-item:hover{color:#000;border-color:#000;background-color:transparent}

@media screen and (max-width:480px)
{
  .form{width:100%}
aside{text-align:center}
}

.side-nav-list,.side-nav-list2,.side-nav-list3{padding-left:3px;padding-right:3px}
main{padding:0rem;word-spacing:0rem;}
img{max-height: 850px;max-width:100%;height:auto}
.hack .media .media-body{min-width:250px}
.logo__component{border-bottom:1px solid #fff;text-align:center;max-width:90%;margin-top:10px}
.side-nav__component{max-width:90%;margin-top:5rem}
.side-nav__component2{max-width:90%}
.side-nav__component3{max-width:90%}
section{margin-top:15px}

@media screen and (max-width:768px){
  .side-nav__component,.side-nav__component2,.side-nav__component3{margin:0;max-width:100%}
  .side-nav__component .side-nav-list{width:100%;display:flex;justify-content:space-between}
  .side-nav__component2 .side-nav-list2{width:100%;display:flex;justify-content:space-between}
  .side-nav__component3 .side-nav-list3{width:100%;display:flex;justify-content:space-between}
  img{display:block;max-width:100%;height:auto}}



/* 카테고리 */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}