html {
  font-size: 15px;
  font-family: 'Iceland', cursive;
  background-color: white;
}

.container{
  width: 1200px;
  border: 1px solid white;
  margin: auto;
}

a:link , a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

header {
  color: black;
  text-align: left;

  margin: 0;
  padding: 20px 0;
  width: auto;
  height: auto;
}

nav{
  float:left;
  width: 200px;
  padding: 10px;
  border-right: 1px solid black;
}
article{
  float:left;
  width: 300px;
  border-left: 1px solid black;
  margin-left: -1px;
}


img , h2 , p {
  display: block;
  width:1000px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
